<tr>
    <td>
        <label for="exampleColorInput" class="form-label">Szín választó</label>
    </td>
    <td>
        <input type="color" class="form-control form-control-color" id="<%= item.id %>" value="<%= item.color %>" title="Válassz ki egy színt">
    </td>
</tr>
