<!DOCTYPE html>
<html lang="hu">
<head>
    <title>
        SmartHome
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shirk-to-fit=no">
    <script src="https://kit.fontawesome.com/cc8e1ca7f9.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <%- signin %>
</head>
<body>