<%- include('header',{signin: "<script src=\"/script/index.js\"></script>"}) -%>
<%- include('menu',{ page: "main"}) -%>


<div class="container">
	<div class="row">
		<% for( key in arr){ var item = arr[key]; %>
			<%- include('switch/basic', { item }); %>
		<% } %>
	</div>
</div>
<%- include('footer') -%>