<%- include('header',{signin: ""}) -%>
<%- include('menu',{ page: "main"}) -%>



<!-- Kapcsolók -->

<div class="container">
	<div class="row">
		<%- include("switchWidget") -%>


		<!-- Törölni -->
		<div class="col-lg-3 col-md-6 border rounded">
			<table class="table">
				<tr>
					<td  class = "text-center" colspan="2">
						<h3>
							<i class="far fa-lightbulb"></i>
							Asztal
						</h3>
					</td>
				</tr>
				<tr>
					<td class = "text-center">
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" type="checkbox" id="switch2">
							<label class="form-check-label" for="switch2">Kapcsoló</label>
						</div>
					</td>
					<td class = "text-center">
						<a type="button" class="btn btn-warning" href="/dev/mod"><i class="fas fa-edit"></i></a>&nbsp;
						<a type="button" class="btn btn-danger" href="/dev/remove/"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-lg-3 col-md-6 border rounded">
			<table class="table">
				<tr>
					<td  class = "text-center" colspan="2">
						<h3>
							<i class="far fa-lightbulb"></i>
							Földgömb
						</h3>
					</td>
				</tr>
				<tr>
					<td class = "text-center">
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" type="checkbox" checked id="switch3">
							<label class="form-check-label" for="switch3">Kapcsoló</label>
						</div>
					</td>
					<td class = "text-center">
						<a type="button" class="btn btn-warning" href="/dev/mod"><i class="fas fa-edit"></i></a>&nbsp;
						<a type="button" class="btn btn-danger" href="/dev/remove/"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
				<tr>
					<td>
						<label for="exampleColorInput" class="form-label">Szín választó</label>
					</td>
					<td>
						<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#199CC8" title="Choose your color">
					</td>
				</tr>
			</table>

		</div>

		<div class="col-lg-3 col-md-6 border rounded">
			<table class="table">
				<tr>
					<td  class = "text-center" colspan="2">
						<h3>
							<i class="fas fa-running"></i>
							Érzékelő
						</h3>
					</td>
				</tr>
				<tr>
					<td class = "text-center">
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" disabled type="checkbox" id="switch4">
							<label class="form-check-label" for="switch4">Kapcsoló</label>
						</div>
					</td>
					<td class = "text-center">
						<a type="button" class="btn btn-warning" href="/dev/mod"><i class="fas fa-edit"></i></a>&nbsp;
						<a type="button" class="btn btn-danger" href="delete.ejs"><i class="fas fa-trash"></i></a>
					</td>
				</tr>
			</table>

		</div>

		<!-- Törölni -->
	</div>
</div>
<%- include('footer') -%>