<%- include('header',{signin: ""}) -%>
<%- include('menu',{page: ""}) -%>
		
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2>Eszköz szerkesztése</h2>
				</div>
			</div>
			<div class="row mx-auto" style="width: 400px;">
				<form class="needs-validation" novalidate>
					<div class="col-md-12 mb-3">
						<label for="validationCustomUsername">Eszköz azonosító</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupPrepend">ID</span>
							</div>
							<input type="text" class="form-control" id="validationCustomUsername" placeholder="Azonosító" aria-describedby="inputGroupPrepend" value="0xff1c6a" autocomplete="off" required>
							<div class="invalid-feedback">
								Add meg az eszköz azonosítót!
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="validationCustom02">Eszköz neve</label>
							<input type="text" class="form-control" id="validationCustom02" placeholder="Device Name" autocomplete="off" value="Asztal" required>
							<div class="valid-feedback">
								Jónak tűnik!
							</div>
						</div>
						
					</div>
					<div class="text-center">  
						<button class="btn btn-primary " type="submit">Mentés</button>
						<a class="btn btn-secondary" href="/">Mégsem</a>
					</div>
				</form>
			</div>
		</div>
<%- include('footer') -%>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>