<%- include('header',{signin: ""}) -%>
<%- include('menu', {page: "sleep"}) -%>

		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2>Alvó időszak</h2>
				</div>
			</div>
			<table class="table">
				<tr>
					<th>
						Eszköz
					</th>
					<th>
						Alvó mód
					</th>
					<th>
						Kezdete
					</th>
					<th>
						Vége
					</th>
					<th>
						Művelet
					</th>
				</tr>
				<tr>
					<td>
						Hálószoba
					</td>
					<td>
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" type="checkbox" checked id="switch1">
						</div>
					</td>
					<td>
						<select name="days" id="startDay1" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2">Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3">Szombat</option>
							<option value="3" selected>Vasárnap</option>
						</select>
						<input type="time" name="kezdo" value="20:00" class="form-select"/>
					</td>
					<td>
						<select name="days" id="endDay1" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2">Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3" selected>Szombat</option>
							<option value="3">Vasárnap</option>
						</select>
						<input type="time" name="veg"  value="08:00" class="form-select"/>
					</td>
					<td>
						<a class="btn btn-success" href="#">Mentés</a>
						<a class="btn btn-danger" href="#">Törlés</a>
					</td>
				</tr>
				<tr>
					<td>
						Asztal
					</td>
					<td>
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" type="checkbox" id="switch2">
						</div>
					</td>
					<td>
						<select name="days" id="startDay2" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2">Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3">Szombat</option>
							<option value="3" selected>Vasárnap</option>
						</select>
						<input type="time" name="kezdo" value="00:00" class="form-select"/>
					</td>
					<td>
						<select name="days" id="endDay2" class="form-select">
							<option value="0" selected>Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2">Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3">Szombat</option>
							<option value="3">Vasárnap</option>
						</select>
						<input type="time" name="veg"  value="00:00" class="form-select"/>
					</td>
					<td>
						<a class="btn btn-success" href="#">Mentés</a>
						<a class="btn btn-danger" href="#">Törlés</a>
					</td>
				</tr>
				<tr>
					<td>
						Földgömb
					</td>
					<td>
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" type="checkbox" id="switch3" checked>
						</div>
					</td>
					<td>
						<select name="days" id="startDay3" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2" selected>Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3">Szombat</option>
							<option value="3">Vasárnap</option>
						</select>
						<input type="time" name="kezdo" value="23:00" class="form-select"/>
					</td>
					<td>
						<select name="days" id="endDay3" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2">Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3"selected>Szombat</option>
							<option value="3">Vasárnap</option>
						</select>
						<input type="time" name="veg" value="18:00" class="form-select"/>
					</td>
					<td>
						<a class="btn btn-success" href="#">Mentés</a>
						<a class="btn btn-danger" href="#">Törlés</a>
					</td>
				</tr>
				<tr>
					<td>
						Érzékelő
					</td>
					<td>
						<div class="form-check form-switch form-control-lg">
							<input class="form-check-input" type="checkbox" id="switch4" >
						</div>
					</td>
					<td>
						<select name="days" id="startDay4" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1" selected>Kedd</option>
							<option value="2">Szerda</option>
							<option value="3">Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3">Szombat</option>
							<option value="3">Vasárnap</option>
						</select>
						<input type="time" name="kezdo" value="00:00" class="form-select"/>
					</td>
					<td>
						<select name="days" id="endDay4" class="form-select">
							<option value="0">Hétfő</option>
							<option value="1">Kedd</option>
							<option value="2">Szerda</option>
							<option value="3" selected>Csütörtök</option>
							<option value="3">Péntek</option>
							<option value="3">Szombat</option>
							<option value="3">Vasárnap</option>
						</select>
						<input type="time" name="veg" value="00:00" class="form-select"/>
					</td>
					<td>
						<a class="btn btn-success" href="#">Mentés</a>
						<a class="btn btn-danger" href="#">Törlés</a>

					</td>
				</tr>
			</table>
		</div>
		<div class="d-flex align-items-end flex-column">
			<a href="/rule/add" class="btn btn-primary btn-circle mt-auto p-2" style="margin: 30px" ><i class="fas fa-plus"></i> Új szabály</a>
		</div>
<%- include('footer') -%>