<div class="col-lg-3 col-md-6 border rounded">
    <table class="table">
        <tr>
            <td  class = "text-center" colspan="2">
                <h3>
                    <i class="far fa-lightbulb"></i>
                    Hálószoba
                </h3>
            </td>
        </tr>
        <tr>
            <td class = "text-center">
                <div class="form-check form-switch form-control-lg">
                    <input class="form-check-input" type="checkbox" checked id="switch1">
                    <label class="form-check-label" for="switch1">Kapcsoló</label>
                </div>
            </td>
            <td class = "text-center">
                <a type="button" class="btn btn-warning" href="/dev/mod"><i class="fas fa-edit"></i></a>&nbsp;
                <a type="button" class="btn btn-danger" href="/dev/remove/"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    </table>
</div>